@font-face {
  font-family: brella;
  font-display: swap;
  src: url("../fonts/brella.woff2") format("woff2"), url("../fonts/brella");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "brella";
  src: url("../fonts/brella.eot?s2eb8c");
  src: url("../fonts/brella.eot?s2eb8c#iefix") format("embedded-opentype"), url("../fonts/brella.ttf?s2eb8c") format("truetype"), url("../fonts/brella.woff?s2eb8c") format("woff"), url("../fonts/brella.svg?s2eb8c#brella") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "brella" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e900";
}

.icon-moon:before {
  content: "\e901";
}

.icon-sun:before {
  content: "\e902";
}

.icon-google:before {
  content: "\e903";
}

.icon-facebook:before {
  content: "\e904";
}

.icon-twitter:before {
  content: "\e905";
}

.icon-linked-in:before {
  content: "\e906";
}

.icon-youtube:before {
  content: "\e907";
}

.icon-arrow-left:before {
  content: "\e908";
}

.icon-arrow-right:before {
  content: "\e909";
}

html .wrapper {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

html.light {
  --main-color: #214e41;
  --icon-color: var(--main-color);
  --base-color: #fafafa;
  --accent-color: #43806c;
  --light-color: #e3eeed;
  --gray-color: #757575;
  --orange-color: #f0a446;
}

html.dark {
  --main-color: #7cdfc3;
  --icon-color: var(--main-color);
  --base-color: #2e2d2e;
  --accent-color: #36cb9a;
  --light-color: #2d312f;
  --gray-color: #aebfb9;
  --orange-color: #ffb356;
}

/*Reset Styles*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a {
  color: #000;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.svg-benefits-dims {
  width: 58px;
  height: 45px;
}

.svg-brewer-lane-dims {
  width: 146px;
  height: 60px;
}

.svg-coverage-dims {
  width: 41px;
  height: 45px;
}

.svg-digitalis-dims {
  width: 146px;
  height: 60px;
}

.svg-founder-dims {
  width: 146px;
  height: 60px;
}

.svg-hassle-dims {
  width: 46px;
  height: 45px;
}

.svg-symphony-all-dims {
  width: 118px;
  height: 60px;
}

.svg-two-sigma-dims {
  width: 146px;
  height: 60px;
}

html .page__theme.icon-moon,
html .page__theme.icon-sun {
  -webkit-transform: rotate(162deg) scale(0);
      -ms-transform: rotate(162deg) scale(0);
          transform: rotate(162deg) scale(0);
  color: transparent;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  border-radius: 50%;
}

html .page__theme.icon-moon::before,
html .page__theme.icon-sun::before {
  font-size: 1.7142857143rem;
}

html .page__theme.icon-moon:hover,
html .page__theme.icon-sun:hover {
  -webkit-filter: drop-shadow(0px 1px 3px var(--main-color));
          filter: drop-shadow(0px 1px 3px var(--main-color));
}

html.dark .page__theme {
  -webkit-transform: rotate(0deg) scale(1);
      -ms-transform: rotate(0deg) scale(1);
          transform: rotate(0deg) scale(1);
  color: var(--main-color);
}

html.dark .page__theme.icon-sun::before {
  content: "\e902";
}

html.dark .logo__light {
  display: block;
}

html.light .page__theme.icon-moon {
  margin-top: 0.3571428571rem;
  -webkit-transform: rotate(325deg) scale(1);
      -ms-transform: rotate(325deg) scale(1);
          transform: rotate(325deg) scale(1);
  color: var(--main-color);
}

html.light .page__theme.icon-moon::before {
  content: "\e901";
}

html.light .logo__dark {
  display: block;
}

.page__action {
  position: relative;
}

.page__reset {
  opacity: 0;
  visibility: hidden;
}

.page__reset._active {
  opacity: 1;
  visibility: visible;
}

.page__reset::before {
  content: "x";
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 10px;
  height: 10px;
  font-size: 7px;
  border-radius: 50%;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
  background-color: #666;
}

:root {
  font-size: 14px;
}

body {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  font-family: "Roboto", sans-serif;
  font-family: "Raleway", sans-serif;
  background-color: var(--base-color);
  color: var(--main-color);
}

body._lock {
  overflow: hidden;
}

a {
  color: var(--main-color);
}

button {
  background: none;
}

[class*=__container],
[class*=__container-big] {
  max-width: calc(1200px + 30px);
  margin: 0 auto;
  padding: 0px 15px;
}

[class*=__container-big] {
  max-width: 1350px;
}

.login._active .login-list,
body._pc .login:hover .login-list {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.login-list {
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page {
  margin-top: calc(60px + 30 * ((100vw - 320px) / 1120));
}

.why__more::after,
.menu__list li::after {
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  content: " ";
  position: absolute;
  bottom: 1px;
  width: 0%;
  height: 2px;
  background-color: var(--main-color);
}

.why__more:hover::after,
.menu__list li:hover::after {
  width: 100%;
}

.btn {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.btn__green {
  padding: 0.7142857143rem 1rem;
  background-color: var(--accent-color);
  border-radius: 6px;
  color: var(--base-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43em;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn__green:hover {
  background-color: var(--main-color);
  -webkit-filter: drop-shadow(0px 1px 3px var(--main-color));
          filter: drop-shadow(0px 1px 3px var(--main-color));
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.5714285714rem;
  line-height: 1.28em;
}

.header {
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: calc(60px + 30 * ((100vw - 320px) / 1120));
  padding: 1.7857142857rem 0;
  background-color: var(--base-color);
  color: var(--main-color);
}

.header__container-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__logo:hover {
  -webkit-filter: drop-shadow(0px 0px 5px rgba(34, 160, 154, 0.37));
          filter: drop-shadow(0px 0px 5px rgba(34, 160, 154, 0.37));
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

html.dark .header {
  -webkit-box-shadow: 0px 0px 21px 0px rgba(255, 255, 255, 0.15);
          box-shadow: 0px 0px 21px 0px rgba(255, 255, 255, 0.15);
}

.logo {
  width: 100%;
  height: 100%;
}

.logo-link {
  display: table;
}

.logo-link.icon-logo {
  font-size: 5.3571428571rem;
}

.logo__dark {
  display: none;
}

.logo__light {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 70px;
}

.menu__icon {
  display: none;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.menu__list {
  z-index: 2;
}

.menu__list > :not(:last-child) {
  margin-right: 50px;
}

.menu__list li {
  position: relative;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.menu__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43em;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.menu__pointer {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  height: 0.1071428571rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 0.3em;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
}

.header__btns > :not(:last-child) {
  margin-right: 29px;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.54em;
  position: relative;
  padding: 15px 0;
}

.login::after {
  content: " ";
  border: solid var(--main-color);
  border-width: 0 1.9px 1.9px 0;
  display: inline-block;
  padding: 3.5px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: 0.7142857143rem;
  margin-top: -0.3571428571rem;
}

.login-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 100%;
  right: -50%;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: var(--light-color);
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.login-list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.login-list > li a::before {
  margin-right: 1.0714285714rem;
}

.login-list a {
  color: var(--accent-color);
}

.login._active::after,
body._pc .login:hover::after {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-top: 0.3571428571rem;
}

.no-webp .hero {
  background: url(../img/hero-bg.jpg) 50% 50%/cover no-repeat; }

.hero {
  margin-bottom: 76px;
}

.hero__container {
  position: relative;
}

.hero__offer {
  padding-top: 160px;
  padding-bottom: 280px;
}

html.no-webp.dark .hero {
  background: -webkit-gradient(linear, left top, right top, color-stop(-75%, rgb(0, 0, 0)), color-stop(35%, rgba(0, 0, 0, 0.5)), color-stop(80%, rgba(0, 0, 0, 0.3))), url(../img/hero-bg.jpg) 50% 50%/cover no-repeat;
  background: -o-linear-gradient(left, rgb(0, 0, 0) -75%, rgba(0, 0, 0, 0.5) 35%, rgba(0, 0, 0, 0.3) 80%), url(../img/hero-bg.jpg) 50% 50%/cover no-repeat;
  background: linear-gradient(90deg, rgb(0, 0, 0) -75%, rgba(0, 0, 0, 0.5) 35%, rgba(0, 0, 0, 0.3) 80%), url(../img/hero-bg.jpg) 50% 50%/cover no-repeat; }

.offer__title {
  -webkit-transition: color 0.1s ease 0s;
  -o-transition: color 0.1s ease 0s;
  transition: color 0.1s ease 0s;
  max-width: calc(300px + 220 * ((100vw - 320px) / 1120));
  margin-bottom: calc(24px + 16 * ((100vw - 320px) / 1120));
}

.offer__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: calc(12px + 4 * ((100vw - 320px) / 1120));
}

.offer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 28.7857142857rem;
  border-radius: 6px;
  overflow: hidden;
  background: var(--base-color);
}

.offer__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.4285714286rem;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43em;
  color: #222222;
}

.offer__input::-webkit-input-placeholder {
  color: #222222;
}

.offer__input::-moz-placeholder {
  color: #222222;
}

.offer__input:-ms-input-placeholder {
  color: #222222;
}

.offer__input::-ms-input-placeholder {
  color: #222222;
}

.offer__input::placeholder {
  color: #222222;
}

.offer__submit {
  padding-top: calc(15px + 5 * ((100vw - 320px) / 1120));
  padding-bottom: calc(15px + 5 * ((100vw - 320px) / 1120));
  padding-left: calc(25px + 10 * ((100vw - 320px) / 1120));
  padding-right: calc(25px + 10 * ((100vw - 320px) / 1120));
  border-radius: 0;
}

.features {
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  left: 15px;
  right: 15px;
  bottom: -76px;
  padding: calc(15px + 25 * ((100vw - 320px) / 1120));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 3.2142857143rem;
  background-color: var(--base-color);
  overflow: hidden;
  border-radius: 6px;
}

.features > :not(:last-child) {
  padding-right: 45px;
}

html.dark .features {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.15));
}

.block-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25.4285714286rem;
          flex: 1 1 25.4285714286rem;
}

.block-features__img {
  max-width: 100%;
}

.block-features__img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 3.2142857143rem;
  width: 4.1428571429rem;
}

.block-features__content > :not(:last-child) {
  margin-bottom: 0.5rem;
}

.block-features__title {
  font-size: 1.1428571429rem;
  line-height: 1.5em;
}

.block-features__desc {
  font-size: 14px;
  line-height: 1.4285714286em;
}

.why {
  padding: 7.1428571429rem 0 8.5714285714rem 0;
  font-size: 1.2857142857rem;
  letter-spacing: 0.0014285714rem;
}

.why__container {
  max-width: calc(1200px);
  padding: 0 4.2857142857rem;
  padding-right: 60px;
  padding-left: 60px;
}

.why__body {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 60px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 60px;
      grid-template-areas: ". .";
}

.why__subtitle {
  font-size: 0.9285714286rem;
  line-height: 1.54em;
  letter-spacing: 0.0035714286rem;
  text-transform: uppercase;
  margin-bottom: 1.4285714286rem;
  color: var(--accent-color);
}

.why__title {
  font-size: 2.5714285714rem;
  max-width: 34.2857142857rem;
  margin-bottom: 2.4285714286rem;
  letter-spacing: normal;
}

.why__text {
  margin-bottom: 1.8571428571rem;
  line-height: 1.67em;
  color: var(--gray-color);
  max-width: 47.8571428571rem;
}

.why__more {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  max-width: 7.7142857143rem;
  font-weight: 700;
  line-height: 1em;
}

.why__stats img {
  max-width: 100%;
}

.stats__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 3.9%;
  overflow: hidden;
  max-width: 47.8571428571rem;
}

.stats-pointer,
.stats-pointer__column {
  position: relative;
  width: 1000%;
  height: 2px;
  background-color: var(--orange-color);
  margin-top: 0.7142857143rem;
  margin-bottom: 1.2857142857rem;
  z-index: 1;
}

.stats-pointer__column {
  display: none;
  width: 100%;
  padding: 0;
  height: 2px;
  bottom: 130px;
  position: absolute;
}

.stats__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin-bottom: 45px;
}

.stats__number {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 5rem;
  line-height: 1.2857142857em;
}

.stats__text {
  max-width: 16.0714285714rem;
  font-weight: 700;
  font-size: 0.9285714286rem;
  line-height: 1.6923076923em;
  letter-spacing: 0.0015384615em;
}

.stats__text span {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.stats__columns {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 46.07%;
          flex: 1 1 46.07%;
}

.stats__desc {
  margin-top: 0.7142857143rem;
  text-align: right;
  font-size: 0.9285714286rem;
  line-height: 1.6923076923em;
  color: var(--gray-color);
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
}

.column__item {
  position: relative;
  padding: 1.5714285714rem 1.4285714286rem 3rem 1.4285714286rem;
}

.column__absolute {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.column__price {
  top: 0;
}

.column__value > div {
  background-color: var(--accent-color);
  width: 5.5714285714rem;
}

.column__desc {
  bottom: 0;
}

.deductible__value > div {
  height: 10.7142857143rem;
}

.annual-max__value > div {
  height: 21.4285714286rem;
}

@media (min-width: 48em) {
  .block-features__img {
    margin-right: 0.7142857143em;
  }
}

@media (min-width: 62em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list > li {
    padding: 0.7142857143rem 0;
  }

  .login-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 100px;
    min-height: 150px;
  }
}

@media (max-width: 1200px) {
  .menu {
    margin-right: calc(7px + 63 * ((100vw - 320px) / 880));
  }

  .menu__list > :not(:last-child) {
    margin-right: calc(0px + 50 * ((100vw - 320px) / 880));
  }

  .header__btns {
    margin-right: calc(10px + 15 * ((100vw - 320px) / 880));
  }

  .header__btns > :not(:last-child) {
    margin-right: calc(5px + 24 * ((100vw - 320px) / 880));
  }

  .hero {
    margin-bottom: calc(250px + -174 * ((100vw - 320px) / 880));
  }

  .hero__offer {
    padding-top: calc(80px + 80 * ((100vw - 320px) / 880));
  }

  .hero__offer {
    padding-bottom: calc(320px + -40 * ((100vw - 320px) / 880));
  }

  .features {
    bottom: calc(-250px + 174 * ((100vw - 320px) / 880));
  }

  .features > :not(:last-child) {
    padding-right: calc(25px + 20 * ((100vw - 320px) / 880));
  }

  .why__container {
    padding-right: calc(15px + 45 * ((100vw - 320px) / 880));
  }

  .why__container {
    padding-left: calc(15px + 45 * ((100vw - 320px) / 880));
  }

  .stats__content {
    margin-bottom: calc(15px + 30 * ((100vw - 320px) / 880));
  }
}

@media (max-width: 70.7857142857em) {
  .login._active .login-list,
  body._pc .login:hover .login-list {
    -webkit-transform: translate(50%, 0);
        -ms-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
}

@media (max-width: 61.9375em) {
  .menu {
    margin-right: 0;
  }

  .menu__icon {
    margin-left: calc(15px + 25 * ((100vw - 320px) / 1120));
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 5%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: var(--main-color);
  }

  .menu__icon::before,
  .menu__icon::after {
    content: " ";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }

  .header__menu {
    margin-bottom: 1.4285714286em;
  }

  .header-btn__demo {
    background-color: var(--main-color);
  }

  .header__content {
    overflow: auto;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 7.1428571429em 2.1428571429em 2.1428571429em 2.1428571429em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--light-color);
    -webkit-transition: top 0.3s ease 0s;
    -o-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
  }

  .header__content::before {
    content: " ";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: calc(60px + 30 * ((100vw - 320px) / 1120));
    background-color: var(--base-color);
    z-index: 3;
  }

  .header__content._active {
    top: 0;
  }

  .header-content__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }

  .menu__list li {
    padding: 10px 0;
    text-align: center;
  }

  .menu__list > :not(:last-child) {
    margin-right: 0px;
  }

  .menu__link {
    font-size: 1.7142857143em;
  }

  .login {
    position: static;
  }

  .login-list {
    width: 768px;
    height: 5.3571428571em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 1.0714285714em;
    top: 100%;
    right: 50%;
    gap: 1.4285714286em;
  }

  .login-list li {
    padding: 1.0714285714em;
    font-size: 1.2857142857em;
  }

  .why__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
        grid-template-areas: "." ".";
  }

  .why__content {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .stats__body {
    margin: 0 auto;
  }
}

@media (max-width: 61.9375em) and (max-width: 1200px) {
  .login-list {
    width: calc(300px + 468 * ((100vw - 320px) / 880));
  }
}

@media (max-width: 47.9375em) {
  .hero {
    background-position: 40%, 50%;
  }

  .features {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block-features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (max-width: 35.9375em) {
  .no-webp .hero {
    background: -o-linear-gradient(315deg, rgb(255, 255, 255) -75%, rgba(255, 255, 255, 0.5) 35%, rgba(255, 255, 255, 0) 80%) 80%, url(../img/hero-bg.jpg) 60% 50%/cover no-repeat;
    background: linear-gradient(135deg, rgb(255, 255, 255) -75%, rgba(255, 255, 255, 0.5) 35%, rgba(255, 255, 255, 0) 80%) 80%, url(../img/hero-bg.jpg) 60% 50%/cover no-repeat; }

  .offer__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .stats__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .stats__desc {
    text-align: center;
  }

  .stats-pointer,
  .stats-pointer__column {
    display: none;
  }

  .stats-pointer__column {
    display: block;
  }

  .stats__number {
    margin-right: -10%;
  }
}

.webp .hero { background: url(../img/hero-bg.webp) 50% 50%/cover no-repeat; }

html.webp.dark .hero { background: -webkit-gradient(linear, left top, right top, color-stop(-75%, rgb(0, 0, 0)), color-stop(35%, rgba(0, 0, 0, 0.5)), color-stop(80%, rgba(0, 0, 0, 0.3))), url(../img/hero-bg.webp) 50% 50%/cover no-repeat; background: -o-linear-gradient(left, rgb(0, 0, 0) -75%, rgba(0, 0, 0, 0.5) 35%, rgba(0, 0, 0, 0.3) 80%), url(../img/hero-bg.webp) 50% 50%/cover no-repeat; background: linear-gradient(90deg, rgb(0, 0, 0) -75%, rgba(0, 0, 0, 0.5) 35%, rgba(0, 0, 0, 0.3) 80%), url(../img/hero-bg.webp) 50% 50%/cover no-repeat; }

@media (max-width: 35.9375em) {

  .webp .hero { background: -o-linear-gradient(315deg, rgb(255, 255, 255) -75%, rgba(255, 255, 255, 0.5) 35%, rgba(255, 255, 255, 0) 80%) 80%, url(../img/hero-bg.webp) 60% 50%/cover no-repeat; background: linear-gradient(135deg, rgb(255, 255, 255) -75%, rgba(255, 255, 255, 0.5) 35%, rgba(255, 255, 255, 0) 80%) 80%, url(../img/hero-bg.webp) 60% 50%/cover no-repeat; }
}