.svg-benefits-dims {
	width: 58px;
	height: 45px;
}
.svg-brewer-lane-dims {
	width: 146px;
	height: 60px;
}
.svg-coverage-dims {
	width: 41px;
	height: 45px;
}
.svg-digitalis-dims {
	width: 146px;
	height: 60px;
}
.svg-founder-dims {
	width: 146px;
	height: 60px;
}
.svg-hassle-dims {
	width: 46px;
	height: 45px;
}
.svg-symphony-all-dims {
	width: 118px;
	height: 60px;
}
.svg-two-sigma-dims {
	width: 146px;
	height: 60px;
}
.svg-footer-logo-dims {
	width: 98px;
	height: 28px;
}
