$orange-color: #f0a446;
$gray-color: #757575;
//* Light Theme
$main-color__light: #214e41;
$icon-color__light: $main-color__light;
$base-color__light: #ffffff;
$accent-color__light: #43806c;
$light-color__light: #e3eeed;
//* ---
//* Dark Theme
$main-color__dark: rgba(123, 201, 174, 1);
$icon-color__dark: $main-color__dark;
$base-color__dark: rgba(43, 43, 43, 1);
$accent-color__dark: rgba(125, 230, 201, 1);
$light-color_dark: rgba(73, 77, 77, 1);
//* ---

html {
	--orange-color: #f0a446;
	--gray-color: #757575;
	.wrapper {
		transition: color 0.3s ease 0s;
	}
	&.light {
		--main-color: #214e41;
		--icon-color: var(--main-color);
		--base-color: #ffffff;
		--accent-color: #43806c;
		--light-color: #e3eeed;
	}
	&.dark {
		--main-color: rgb(114, 194, 181);
		--icon-color: var(--main-color);
		--base-color: rgba(43, 43, 43, 1);
		--accent-color: rgb(131, 231, 193);
		--light-color: rgba(73, 77, 77, 1);
	}
}
