:root {
	font-size: $base-font-size;
}

body {
	transition: color 0.3s ease 0s;
	font-family: "Roboto", sans-serif;
	font-family: "Raleway", sans-serif;
	background-color: var(--base-color);
	color: var(--main-color);
	&._lock {
		overflow: hidden;
	}
}

a {
	color: var(--main-color);
}

button {
	background: none;
}

[class*="__container"] {
	max-width: calc(#{$maxWidthContainer + px} + 30px); // Enter the value
	margin: 0 auto;
	padding: 0px 15px;
}

[class*="__container-big"] {
	@extend [class*="__container"];
	max-width: calc(1320px + 30px);
}

%visible {
	transform: translate(0, 0);
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}
%invisible {
	transform: translate(0, -50%);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.img-fluid {
	width: 100%;
	height: auto;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 1 auto;
}

.page {
	@include adaptiv-value("margin-top", 90, 60, 0);
}

section {
	padding: rem(60px) 0;
}

%underline {
	&::after {
		transition: width 0.3s ease 0s;
		left: 50%;
		transform: translate(-50%, 0);
		content: " ";
		position: absolute;
		bottom: 1px;
		width: 0%;
		height: 2px;
		background-color: var(--main-color);
	}
	&:hover {
		&::after {
			width: 100%;
		}
	}
}

.btn {
	min-width: fit-content;
	&__green {
		padding: rem(10px) rem(14px);
		background-color: var(--accent-color);
		border-radius: $defautBorderRadius;
		color: var(--base-color);
		font-weight: 700;
		font-size: 14px;
		line-height: 1.43em;
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: var(--main-color);
			filter: $dropShadow;
		}
	}
}

.title {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	// font-size: rem(36px);
	@include adaptiv-value("font-size", 36, 28, 0);
	line-height: 1.28em;
}

.subtitle {
	font-size: rem(13px);
	font-weight: 700;
	line-height: 1.54em;
	letter-spacing: em(0.05px, 13px, 1000);
	text-transform: uppercase;
	margin-bottom: rem(20px);
	color: var(--accent-color);
}

.text {
	// font-size: rem(18px);
	@include adaptiv-value("font-size", 18, 16, 0);
	line-height: 1.67em;
	color: var(--gray-color);
}
