$icomoon-font-family: "brella" !default;
$icomoon-font-path: "../fonts" !default;

$icon-logo: "\e900";
$icon-moon: "\e901";
$icon-sun: "\e902";
$icon-google: "\e903";
$icon-facebook: "\e904";
$icon-twitter: "\e905";
$icon-linked-in: "\e906";
$icon-youtube: "\e907";
$icon-arrow-left: "\e908";
$icon-arrow-right: "\e909";
