.svg-arrow-left-dims {
	width: 25px;
	height: 19px;
}

.svg-arrow-right-dims {
	width: 25px;
	height: 19px;
}

.svg-benefits-dims {
	width: 58px;
	height: 45px;
}

.svg-brewer-lane-dims {
	width: 146px;
	height: 60px;
}

.svg-coverage-dims {
	width: 41px;
	height: 45px;
}

.svg-digitalis-dims {
	width: 146px;
	height: 60px;
}

.svg-founder-dims {
	width: 146px;
	height: 60px;
}

.svg-hassle-dims {
	width: 46px;
	height: 45px;
}

.svg-linked-in-dims {
	width: 26px;
	height: 26px;
}

.svg-logo-dims {
	width: 75px;
	height: 22px;
}

.svg-logo-footer-dims {
	width: 98px;
	height: 28px;
}

.svg-symphony-all-dims {
	width: 118px;
	height: 60px;
}

.svg-twitter-dims {
	width: 26px;
	height: 22px;
}

.svg-two-sigma-dims {
	width: 146px;
	height: 60px;
}

.svg-youtube-dims {
	width: 26px;
	height: 20px;
}
