.page__index {
}

//Hero

.hero {
	@include adaptiv-value("margin-bottom", 76, 250, 1);
	background: url(../img/hero-bg.jpg) 50% 50% / cover no-repeat;
	&__container {
		position: relative;
	}

	&__content {
	}

	&__offer {
		@include adaptiv-value("padding-top", 160, 80, 1);
		@include adaptiv-value("padding-bottom", 280, 420, 1);
	}

	&__features {
	}
}
html.dark .hero {
	background: linear-gradient(90deg, rgba(0, 0, 0, 1) -75%, rgba(0, 0, 0, 0.5) 35%, rgba(0, 0, 0, 0.3) 80%),
		url(../img/hero-bg.jpg) 50% 50% / cover no-repeat;
}
.offer {
	&__title {
		transition: color 0.1s ease 0s;
		@include adaptiv-value("max-width", 520, 300, 0);
		@include adaptiv-value("margin-bottom", 40, 20, 0);
	}

	&__text {
		color: var(--main-color);
		font-weight: 700;
		line-height: 1.5em;
		@include adaptiv-value("margin-bottom", 16, 20, 0);
	}

	&__form {
		display: flex;
		max-width: rem(403px);
		border-radius: $defautBorderRadius;
		overflow: hidden;
		background: var(--base-color);
	}

	&__input {
		flex: 1 1 auto;
		padding: rem(20px);
		font-weight: 700;
		font-size: 14px;
		line-height: 1.43em;
		color: #222222;
		&::placeholder {
			color: #222222;
		}
	}

	&__submit {
		@include adaptiv-value("padding-top", 20, 15, 0);
		@include adaptiv-value("padding-bottom", 20, 15, 0);
		@include adaptiv-value("padding-left", 35, 25, 0);
		@include adaptiv-value("padding-right", 35, 25, 0);
		border-radius: 0;
	}
}
.features {
	position: absolute;
	transition: all 0.3s ease 0s;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	left: 15px;
	right: 15px;
	@include adaptiv-value("bottom", -76, -300, 1);
	@include adaptiv-value("padding", 40, 15, 0);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	row-gap: rem(45px);
	> :not(:last-child) {
		@include adaptiv-value("padding-right", 45, 25, 1);
	}
	background-color: var(--base-color);
	overflow: hidden;
	border-radius: $defautBorderRadius;
}
html.dark .features {
	filter: drop-shadow(0px 4px 4px rgba(256, 256, 256, 0.15));
}
.block-features {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 1 rem(356px);
	&__img {
		max-width: 100%;
		img {
			object-fit: cover;
			height: rem(45px);
			width: rem(58px);
		}
	}

	&__content {
		> :not(:last-child) {
			margin-bottom: rem(7px);
		}
	}

	&__title {
		font-size: rem(16px);
		line-height: em(24px, 16px);
	}

	&__desc {
		font-size: 14px;
		line-height: em(20px, 14px);
	}
}

// Why
.why {
	padding: rem(100px) 0 rem(60px) 0;
	@include adaptiv-value("padding-top", 100, 0, 0);
	@include adaptiv-value("font-size", 18, 16, 0);
	letter-spacing: rem(0.02px);
	&__container {
		max-width: calc(#{$maxWidthContainer}px);
		padding: 0 rem(60px);
		@include adaptiv-value("padding-right", 60, 15, 1);
		@include adaptiv-value("padding-left", 60, 15, 1);
	}

	&__body {
		display: grid;
		align-items: center;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		gap: 0px 60px;
		grid-template-areas: ". .";
	}

	&__content {
	}

	&__subtitle {
		font-weight: 400;
	}

	&__title {
		max-width: rem(480px);
		margin-bottom: rem(34px);
	}

	&__text {
		margin-bottom: rem(26px);
		max-width: rem(670px);
	}
	&__more {
		position: relative;
		display: flex;
		text-align: center;
		max-width: rem(108px);
		font-weight: 700;
		line-height: 1em;
		@extend %underline;
	}
	&__stats {
		img {
			max-width: 100%;
		}
	}
}
.stats {
	&__body {
		position: relative;
		display: flex;
		align-items: end;
		gap: 3.9%;
		overflow: hidden;
		max-width: rem(670px);
	}

	&-pointer {
		position: relative;
		width: 0px;
		height: 2px;
		background-color: var(--orange-color);
		margin-top: rem(10px);
		margin-bottom: rem(18px);
		z-index: 1;
		transition: all 1.5s ease 0.3s;
		&._active {
			width: 250%;
		}
		&__column {
			@extend .stats-pointer;
			display: none;
			width: 0%;
			padding: 0;
			height: 2px;
			bottom: 130px;
			position: absolute;
			&._active {
				width: 100%;
			}
		}
	}

	&__content {
		flex: 1 1 50%;
		@include adaptiv-value("margin-bottom", 45, 15, 1);
		// margin-bottom: rem(45px);
	}

	&__number {
		font-family: "Roboto", sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: rem(70px);
		line-height: em(90px, 70px);
	}

	&__text {
		max-width: rem(225px);
		font-weight: 700;
		font-size: rem(13px);
		line-height: em(22px, 13px);
		letter-spacing: em(0.02px, 13px);
		span {
			text-decoration-line: underline;
		}
	}

	&__columns {
		flex: 1 1 46.07%;
		min-height: rem(364px);
	}

	&__desc {
		margin-top: rem(10px);
		text-align: right;
		font-size: rem(13px);
		line-height: em(22px, 13px);
		color: var(--gray-color);
	}
}
.column {
	display: flex;
	align-items: end;
	justify-content: end;
	position: relative;
	&__item {
		position: relative;
		padding: rem(22px) rem(20px) rem(42px) rem(20px);
	}
	&__absolute {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		min-width: max-content;
	}
	&__price {
		top: 0;
	}
	&__value {
		> div {
			transition: all cubic-bezier(0.3, 0, 0.15, 1) 2s;
			background-color: var(--accent-color);
			width: rem(78px);
			transform: scale(0.6, 1);
			height: 0;
		}
	}
	&__desc {
		bottom: 0;
	}
}
.deductible {
	&__value {
		&._active {
			> div {
				transform: scale(1);
				height: rem(150px);
			}
		}
	}
}
.annual-max {
	&__value {
		&._active {
			> div {
				transform: scale(1);
				height: rem(300px);
			}
		}
	}
}

//* Brings section

.brings {
	&__wrapper {
		position: relative;
	}
	&__container {
	}

	&__subtitle {
		font-weight: 400;
		color: var(--main);
		position: absolute;
		@include adaptiv-value("top", 90, 30, 0);
	}

	&__body {
		display: flex;
		align-items: center;
		justify-content: center;
		@include adaptiv-value("gap", 200, -150, 1);
	}
}
.brings-block {
	&__1 {
		flex: 1;
	}

	&__2 {
		flex: 1;
	}
}
.brings-bg {
	width: 50%;
	height: 100%;
	position: absolute;
	z-index: -1;
	top: 0;
	&__1 {
		left: 0;
		background-color: var(--accent-blue);
	}

	&__2 {
		right: 0;
		background-color: var(--main-color);
	}
}
html.dark .brings-bg__2 {
	background-color: var(--accent-color);
}
.brings-content {
	// padding: rem(130px) 0 rem(130px) 0;
	@include adaptiv-value("padding-top", 130, 60, 0);
	@include adaptiv-value("padding-bottom", 130, 60, 0);
	&__1 {
	}

	&__2 {
	}
}
.brings-text {
	&__1 {
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		// font-size: rem(32px);
		@include adaptiv-value("font-size", 32, 24, 1);
		line-height: 1.31em;
		color: var(--accent-color);
		span {
			color: var(--main-color);
			position: relative;
			&::before {
				transition: all 0.3s ease 0s;
				position: absolute;
				top: 50%;
				transform: translate(0, -50%);
				right: rem(-65px);
				@include adaptiv-value("right", -65, -22.5, 1);
				@include adaptiv-value("font-size", 24, 18, 1);
			}
			&:hover {
				&::before {
					@include adaptiv-value("right", -75, -27.5, 1);
					@include adaptiv-value("font-size", 24, 20, 1);
				}
			}
		}
		> :not(:last-child) {
			margin-bottom: rem(18px);
		}
	}

	&__2 {
		font-size: rem(20px);
		line-height: 1.7em;
		letter-spacing: em(0.02px, 20px);
		color: var(--base-color);
		> :not(:last-child) {
			margin-bottom: rem(34px);
		}
	}
}

//* Plan section
.plan {
	&__container {
	}

	&__body {
		> :not(:last-child) {
			margin-bottom: rem(60px);
		}
	}

	&__content {
		display: flex;
		gap: rem(84px);
	}

	&__info {
		flex: 1;
	}

	&__subtitle {
	}

	&__title {
		margin-bottom: rem(34px);
	}

	&__text {
	}

	&__img {
		flex: 1;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center;
		}
	}

	&__numbers {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		gap: rem(50px);
	}

	&__block {
		flex: 1;
		> :not(:last-child) {
			margin-bottom: rem(13px);
		}
	}

	&__number {
		font-family: "Roboto", sans-serif;
		font-weight: 700;
		font-size: rem(60px);
		line-height: em(78px, 60px);
		color: var(--orange-color);
	}

	&__desc {
		font-weight: 700;
		font-size: rem(13px);
		line-height: em(22px, 17px);
		letter-spacing: em(0.02px, 17px);
	}
}
