.page__index {
}

//Hero

.hero {
	padding: 0;
	@include adaptiv-value("margin-bottom", 76, 250, 1);
	background: url(../img/hero-bg.jpg) 50% 50% / cover no-repeat;
	&__container {
		position: relative;
	}

	&__content {
	}

	&__offer {
		@include adaptiv-value("padding-top", 160, 80, 1);
		@include adaptiv-value("padding-bottom", 280, 420, 1);
	}

	&__features {
	}
}
.offer {
	&__title {
		@include adaptiv-value("max-width", 520, 300, 0);
		@include adaptiv-value("margin-bottom", 40, 20, 0);
	}

	&__text {
		color: var(--main-color);
		font-weight: 700;
		line-height: 1.5em;
		@include adaptiv-value("margin-bottom", 16, 20, 0);
	}

	&__form {
		display: flex;
		max-width: rem(403px);
		border-radius: $defautBorderRadius;
		overflow: hidden;
		background: var(--base-color);
	}

	&__input {
		flex: 1 1 auto;
		padding: rem(20px);
		font-weight: 700;
		font-size: rem(14px, 1000);
		line-height: 1.43em;
		color: #222222;
		&::placeholder {
			color: #222222;
		}
	}

	&__submit {
		@include adaptiv-value("padding-top", 20, 15, 0);
		@include adaptiv-value("padding-bottom", 20, 15, 0);
		@include adaptiv-value("padding-left", 35, 25, 0);
		@include adaptiv-value("padding-right", 35, 25, 0);
		border-radius: 0;
	}
}
.features {
	position: absolute;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	left: rem(15px);
	right: rem(15px);
	@include adaptiv-value("bottom", -76, -300, 1);
	@include adaptiv-value("padding", 50, 15, 1);
	background-color: var(--base-color);
	overflow: hidden;
	border-radius: $defautBorderRadius;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	row-gap: rem(45px);
	> :not(:last-child) {
		@include adaptiv-value("margin-right", 16, 10, 1);
	}
}
.block-features {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 1 rem(355px);
	&__img {
	}

	&__content {
		> :not(:last-child) {
			margin-bottom: rem(7px);
		}
	}

	&__title {
		font-size: rem(16px);
		line-height: em(24px, 16px);
	}

	&__desc {
		font-size: rem(14px, 1000);
		line-height: em(20px, 14px);
	}
}
// Why
.why {
	padding: rem(100px) 0 rem(60px) 0;
	@include adaptiv-value("font-size", 18, 16, 0);
	letter-spacing: rem(0.02px);
	&__container {
		@include adaptiv-value("max-width", $maxWidthContainer, $maxWidth, 1);
		@include adaptiv-value("padding-right", 60, 15, 1);
		@include adaptiv-value("padding-left", 60, 15, 1);
	}

	&__body {
		display: flex;
		align-items: center;
		gap: rem(60px);
		transition: all 0.8s ease 0s;
	}

	&__content {
		flex: 0 1 47.23%;
		transition: all 0.8s ease 0s;
	}

	&__subtitle {
		font-weight: 400;
	}

	&__title {
		max-width: rem(480px);
	}

	&__text {
		max-width: rem(670px);
	}
	&__more {
		display: flex;
		text-align: center;
		max-width: rem(108px);
		padding-bottom: rem(1px);
	}
	&__stats {
		img {
			max-width: 100%;
		}
	}
}
.stats {
	transition: all 0.8s ease 0s;
	flex: 1;
	&__body {
		position: relative;
		display: flex;
		align-items: flex-end;
		gap: 3.9%;
		overflow: hidden;
		max-width: rem(670px);
	}

	&-pointer {
		position: relative;
		width: 0px;
		height: 2px;
		background-color: var(--orange-color);
		margin-top: rem(10px);
		margin-bottom: rem(18px);
		z-index: 1;
		transition: all 1.5s ease 0.3s;
		width: 300%;
		&._not-active {
			width: 0;
		}
		&__column {
			@extend .stats-pointer;
			display: none;
			width: 0%;
			padding: 0;
			height: 2px;
			bottom: 130px;
			position: absolute;
			width: 100%;
		}
	}

	&__content {
		flex: 1 1 50%;
		@include adaptiv-value("margin-bottom", 45, 15, 1);
		// margin-bottom: rem(45px);
	}

	&__number {
		font-family: "Roboto", sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: rem(70px);
		line-height: em(90px, 70px);
		min-width: max-content;
	}

	&__text {
		max-width: rem(225px);
		font-weight: 700;
		font-size: rem(13px);
		line-height: em(22px, 13px);
		letter-spacing: em(0.02px, 13px, $unrounded);
		span {
			text-decoration-line: underline;
		}
	}

	&__columns {
		flex: 1 1 46.07%;
		min-height: rem(364px);
	}

	&__desc {
		margin-top: rem(10px);
		text-align: right;
		font-size: rem(13px);
		line-height: em(22px, 13px);
		color: var(--gray-color);
	}
}
.column {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	position: relative;
	&__item {
		position: relative;
		padding: rem(22px) rem(20px) rem(42px) rem(20px);
	}
	&__absolute {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		min-width: max-content;
	}
	&__price {
		top: rem(-22px);
	}
	&__value {
		> div {
			position: relative;
			transition: all cubic-bezier(0.3, 0, 0.15, 1) 2s;
			background-color: var(--accent-color);
			width: rem(78px);
			transform: scale(1);
			transform-origin: bottom;
		}
		&._not-active {
			> div {
				transform: scale(0.6, 0);
			}
		}
	}
	&__desc {
		bottom: 0;
	}
}
.deductible {
	&__value {
		> div {
			height: rem(150px);
		}
	}
}
.annual-max {
	&__value {
		> div {
			height: rem(300px);
		}
	}
}

//* Brings section

.brings {
	&__wrapper {
	}
	&__container {
	}

	&__subtitle {
		font-weight: 400;
		color: var(--main);
		position: absolute;
		@include adaptiv-value("top", 90, 30, 0);
	}

	&__body {
		@include adaptiv-value("gap", 200, -150, 1);
	}
}
.brings-block {
	&__1 {
	}

	&__2 {
	}
}
.brings-bg {
	&__1 {
		background-color: var(--accent-blue);
	}

	&__2 {
		background-color: var(--main-color);
	}
}
.brings-content {
	// padding: rem(130px) 0 rem(130px) 0;
	@include adaptiv-value("padding-top", 130, 60, 0);
	@include adaptiv-value("padding-bottom", 130, 60, 0);
	&__1 {
	}

	&__2 {
	}
}
.brings-text {
	&__1 {
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		// font-size: rem(32px);
		@include adaptiv-value("font-size", 32, 24, 1);
		line-height: 1.31em;
		color: var(--accent-color);
		span {
			display: flex;
			color: var(--main-color);
			position: relative;
			&::after {
				content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='25' height='19' viewBox='0 0 25 19'><path d='M0.414429 10.5033H20.901L14.1242 17.1923L15.6099 18.6588L23.3249 11.0178H23.351L24.8106 9.57711L23.351 8.11066H23.3249L15.6099 0.469727L14.1242 1.93617L20.7446 8.44512H0.414429V10.5033Z' fill='%23214e41'/></svg>");
				transition: all 0.3s ease 0s;
				@include adaptiv-value("margin-left", 40, 12.5, 1);
				font-size: rem(19px);
			}
			&:hover {
				&::after {
					@include adaptiv-value("margin-left", 50, 22, 1);
				}
			}
		}
		> :not(:last-child) {
			margin-bottom: rem(18px);
		}
	}

	&__2 {
		font-size: rem(20px);
		line-height: 1.7em;
		letter-spacing: em(0.02px, 20px, $unrounded);
		color: var(--base-color);
		> :not(:last-child) {
			margin-bottom: rem(34px);
		}
	}
}
//* Plan section
.plan {
	&__container {
	}

	&__body {
		> :not(:last-child) {
			margin-bottom: rem(60px);
		}
	}

	&__content {
		display: flex;
		gap: rem(84px);
	}

	&__info {
		flex: 1;
	}

	&__subtitle {
	}

	&__title {
	}

	&__text {
	}

	&__img {
		flex: 1;
		img {
			max-width: 100%;
			height: 100%;
			object-fit: contain;
			margin-left: auto;
			display: block;
			object-position: center;
		}
	}

	&__numbers {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		gap: rem(50px);
	}

	&__block {
		flex: 1;
		> :not(:last-child) {
			margin-bottom: rem(13px);
		}
	}

	&__number {
		font-family: "Roboto", sans-serif;
		font-weight: 700;
		font-size: rem(60px);
		line-height: em(78px, 60px);
		color: var(--orange-color);
	}

	&__desc {
		font-weight: 700;
		font-size: rem(13px);
		line-height: em(22px, 17px);
		letter-spacing: em(0.02px, 17px, $unrounded);
	}
}

//* exp section
.exp {
	padding-bottom: 0;
	&__container {
	}

	&__body {
		display: flex;
		@include adaptiv-value("gap", 20, 80, 1);
		align-items: center;
		&._not-active {
			.exp__video {
				transform: translateX(0) translateY(100%);
				flex: 0;
				@media (max-width: em(767px, $base-font-size)) {
					margin-top: -50%;
				}
			}
		}
	}

	&__video {
		flex: 1;
		display: flex;
		justify-content: center;
		transition: all 0.8s ease 0s;
		img {
			border-radius: 34.5px 34.5px 0 0;
			height: rem(500px);
			overflow: hidden;
			object-position: center bottom;
			object-fit: contain;
			max-height: 75vh;
			max-width: 100%;
		}
	}

	&__content {
		flex: 0 1 57.16%;
		* {
			max-width: rem(525px, 1);
		}
	}

	&__subtitle {
	}

	&__title {
	}

	&__text {
	}

	&__play {
	}
}

//* employers section
.employers {
	padding: 0;
	&._not-active {
		& .employers__wrapper {
			background-position: 25% 0;
		}
	}
	&__wrapper {
		padding: rem(126px) 0 rem(114px) 0;
		background: linear-gradient(
				90deg,
				rgba(255, 255, 255, 0.7) 0%,
				rgba(255, 255, 255, 0.3) 40%,
				rgba(255, 255, 255, 0) 100%
			),
			url(../img/employers.jpg) 50% 0 / cover no-repeat;
	}
	&__container {
	}
	&__body {
	}
	&__content {
		max-width: 50%;
	}

	&__subtitle {
	}

	&__title {
	}

	&__text {
	}

	&__more {
	}
}
//* Sponsor section
.sponsor {
	&-slider__container {
		position: relative;
	}
	&__container {
		&-big {
			> :not(:last-child) {
				margin-bottom: rem(110px);
			}
		}
		&-small {
			max-width: rem(calc(1020px + 50px));
			padding: 0 rem(25px);
		}
	}

	&__title {
		text-align: center;
	}

	&__slider {
		position: static;
	}

	&__wrapper {
	}

	&__slide {
		display: flex;
		justify-content: center;
		svg,
		svg path {
			fill: var(--main-color);
		}
	}

	&__img {
	}

	&__button-prev,
	&__button-next {
		z-index: 0;
		svg {
			@include adaptiv-value("width", 25, 15, 2);
			@include adaptiv-value("height", 19, 9, 2);
			path {
				fill: var(--main-color);
			}
		}
		&::after {
			content: none;
		}
	}

	&__button-prev {
		left: rem(15px);
	}

	&__button-next {
		right: rem(15px);
	}

	&__line {
		margin: rem(10px) rem(25px) 0;
		background: rgba(199, 199, 199, 0.37);
		height: rem(1px);
	}
}

//* Posts
.posts {
	&__container {
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: rem(60px) rem(40px);
		padding: 0 rem(27px);
		justify-content: center;
	}

	&__post {
		flex: 1;
		display: flex;
		flex-direction: column;
	}
}
.post {
	transition: all 0.3s ease 0s;
	&__img {
		margin-bottom: rem(20px);
		img {
			max-width: 100%;
			min-width: rem(275px);
		}
	}

	&__subtitle {
		font-weight: 400;
		margin-bottom: rem(15px);
	}

	&__title {
		font-size: rem(20px);
	}
	&:hover {
		filter: drop-shadow(0px 0px 10px var(--accent-color));
	}
	&._not-active {
		&._anim-translate_left {
			> ._anim-body {
				@media (max-width: em(767px, $base-font-size)) {
					transform: translateX(-100%) translateY(0);
				}
			}
		}
		&._anim-translate_top {
			> ._anim-body {
				@media (max-width: em(767px, $base-font-size)) {
					transform: scale(0.85);
				}
			}
		}
		&._anim-translate_right {
			> ._anim-body {
				@media (max-width: em(767px, $base-font-size)) {
					transform: translateX(100%) translateY(0);
				}
			}
		}
	}
}

//* start section
.start {
	padding-bottom: 0;
	&__wrapper {
	}

	&__container {
	}

	&__body {
		@include adaptiv-value("gap", 240, -40, 1);
	}

	&__content {
		padding: rem(144px) 0 rem(96px) 0;
		> :not(:last-child) {
			margin-bottom: rem(60px);
		}
	}

	&__title {
		max-width: rem(550px);
		> *:not(:last-child) {
			margin-bottom: rem(46px);
		}
	}

	&__btn {
	}
}
.start-block {
	&__1 {
		&._not-active {
			> ._anim-body {
				picture img,
				img {
					object-position: 100% 0%;
				}
			}
		}
		> ._anim-body {
			transition: all 1.2s ease 0s;
		}
	}

	&__2 {
	}
}
.start-bg {
	&__1 {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 50% top;
			transition: all 0.8s ease 0s;
		}
	}

	&__2 {
		background-color: var(--accent-blue);
	}
}
