//* Mobile-first
@media (min-width: em(1400px, 16px)) {
}
@media (min-width: em(1200px, 16px)) {
}
@media (min-width: em(992px, 16px)) {
	.menu__list {
		display: flex;
		align-items: center;
		> li {
			padding: rem(10px) 0;
		}
	}
	.login-list {
		flex-direction: column;
		min-width: 100px;
		min-height: 150px;
	}
}
@media (min-width: em(768px, 16px)) {
	.block-features__img {
		margin-right: em(10px);
	}
	.exp__content {
		* {
			margin-left: auto;
			margin-right: rem(20px);
		}
	}
	.employers__content {
		@include adaptiv-value("padding-right", 120, 0, 1);
	}
}
@media (min-width: em(576px, 16px)) {
}
//* Desktop-first
@media (max-width: em(1399px, 16px)) {
}
@media (max-width: em(1199px, 16px)) {
}
@media (max-width: em(991px, 16px)) {
	.menu {
		margin-right: 0;
	}
	.menu__icon {
		@include adaptiv-value("margin-left", 40, 15, 0);
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;

		span,
		&::before,
		&::after {
			left: 0;
			position: absolute;
			height: 5%;
			width: 100%;
			transition: all 0.3s ease 0s;
			background-color: var(--main-color);
		}
		&::before,
		&::after {
			content: " ";
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: 50%;
			transform: scale(1) translate(0px, -50%);
		}
		&._active {
			span {
				transform: scale(0);
			}
			&::before {
				top: 50%;
				transform: rotate(-45deg) translate(0px, -50%);
			}
			&::after {
				bottom: 50%;
				transform: rotate(45deg) translate(0px, 50%);
			}
		}
	}
	.header {
		&__menu {
			margin-bottom: em(20px);
		}
		&-btn__demo {
			background-color: var(--main-color);
		}
		&__content {
			overflow: auto;
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			padding: em(100px) em(30px) em(30px) em(30px);
			flex-direction: column;
			align-items: center;
			background-color: var(--light-color);
			transition: top 0.3s ease 0s;
			&::before {
				content: " ";
				position: fixed;
				width: 100%;
				top: 0;
				left: 0;
				@include adaptiv-value("height", 90, 60, 0);
				background-color: var(--base-color);
				z-index: 3;
			}
			&._active {
				top: 0;
			}
		}
		&-content__wrapper {
			align-items: center;
			flex-direction: column;
			position: relative;
		}
	}
	.menu {
		&__list {
			li {
				padding: 10px 0;
				text-align: center;
			}
			> :not(:last-child) {
				margin-right: 0px;
			}
		}
		&__link {
			font-size: em(24px);
		}
	}
	.login {
		position: static;
		&-list {
			@include adaptiv-value("width", 768, 300, 1);
			height: em(75px);
			flex-direction: row;
			flex-wrap: wrap;
			margin-top: em(15px);
			top: 100%;
			right: 50%;
			gap: em(20px);
			transform: translate(50%, -10%);
			li {
				padding: em(15px);
				font-size: em(18px);
			}
		}
	}
	.login._active,
	body._pc .login:hover {
		.login-list {
			transform: translate(50%, 0);
		}
	}
	.why {
		&__content {
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__body {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr;
			grid-template-areas: "." ".";
		}
	}
	.stats {
		@include adaptiv-value("padding-top", 50, 0, 0);
		&__body {
			gap: rem(30px);
			margin: 0 auto;
		}
	}
	.plan__block {
		flex: 0 1 rem(248.75px);
	}
}
@media (max-width: em(767px, 16px)) {
	.type-block {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.full-screen-section {
		&__body {
			flex-direction: column;
			text-align: center;
		}
		&-bg {
			width: 100%;
			height: 50%;
			&__2 {
				top: auto;
				bottom: 0;
			}
		}
		&__content {
			padding-top: rem(320px);
		}
	}
	.hero {
		background-position: 40%, 50%;
	}
	.features {
		text-align: center;
		flex-direction: column;
	}
	.block-features {
		flex-direction: column;
		flex: 1 1 auto;
	}
	.brings {
		&__subtitle {
			left: 50%;
			transform: translate(-50%, 0);
		}
	}
	.plan {
		&__content {
			flex-direction: column;
		}
		&__img {
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				width: auto;
				height: auto;
				max-width: 100%;
			}
		}
	}
	.exp__body {
		flex-direction: column-reverse;
	}

	.employers {
		background: linear-gradient(
				90deg,
				rgba(255, 255, 255, 0.9) 10%,
				rgba(255, 255, 255, 0.8) 50%,
				rgba(255, 255, 255, 0.7) 90%
			),
			url(../img/employers.jpg) 40% 100% / cover no-repeat;
		&__content {
			max-width: 70%;
		}
	}
	html.dark .employers {
		background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 10%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.7) 90%),
			url(../img/employers.jpg);
	}
	.post {
		text-align: center;
		justify-content: center;
	}
}
@media (max-width: em(575px, 16px)) {
	.hero {
		background: linear-gradient(
					135deg,
					rgba(255, 255, 255, 1) -75%,
					rgba(255, 255, 255, 0.5) 35%,
					rgba(255, 255, 255, 0) 80%
				)
				80%,
			url(../img/hero-bg.jpg) 60% 50% / cover no-repeat;
	}
	.offer__form {
		flex-direction: column;
	}
	.stats {
		&__body {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
		&__desc {
			text-align: center;
		}
		&-pointer {
			display: none;
			&__column {
				display: block;
			}
		}
		&__number {
			margin-right: -10%;
		}
	}
	.plan__numbers {
		text-align: center;
	}
	.employers {
		background: linear-gradient(
				90deg,
				rgba(255, 255, 255, 0.9) 10%,
				rgba(255, 255, 255, 0.85) 50%,
				rgba(255, 255, 255, 0.9) 90%
			),
			url(../img/employers.jpg) 60% 100% / cover no-repeat;
		&__content {
			max-width: 100%;
		}
	}
	html.dark .employers {
		background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.85) 10%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.85) 90%),
			url(../img/employers.jpg);
	}
}
@media (max-width: em(420px, 16px)) {
	.brings-content {
		padding-top: rem(80px);
		padding-bottom: rem(10px);
	}
}
