html {
	.page__theme {
		&.icon-moon,
		&.icon-sun {
			transform: rotate(162deg) scale(0);
			color: transparent;
			transition: all 1s ease 0s;
			border-radius: 50%;
			&::before {
				font-size: rem(24px);
			}
			&:hover {
				filter: $dropShadow;
			}
		}
	}
	&.dark {
		.page__theme {
			transform: rotate(0deg) scale(1);
			color: var(--main-color);
			&.icon-sun::before {
				content: "\e902";
			}
		}
		.logo__light {
			display: block;
		}
	}
	&.light {
		.page__theme {
			&.icon-moon {
				margin-top: rem(5px);
				transform: rotate(325deg) scale(1);
				color: var(--main-color);
				&::before {
					content: "\e901";
				}
			}
		}
		.logo__dark {
			display: block;
		}
	}
}
.page__action {
	position: relative;
}
.page__reset {
	opacity: 0;
	visibility: hidden;
	&._active {
		opacity: 1;
		visibility: visible;
	}
	&::before {
		content: "x";
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		width: 10px;
		height: 10px;
		font-size: 7px;
		border-radius: 50%;
		line-height: 10px;
		color: #ffffff;
		text-align: center;
		background-color: #666;
	}
}
