html {
	.page__theme {
		transform: rotate(162deg) scale(0);
		transition: all 1s ease 0s;
		border-radius: 50%;
		&:hover {
			filter: $dropShadow;
		}
	}
	&.dark {
		.page__theme {
			transform: rotate(0deg) scale(1);
			&::before {
				content: url("data:image/svg+xml;charset=UTF-8,<svg fill='%237cdfc3' xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 24 24' width='24px' height='24px'><path d='M 11 0 L 11 3 L 13 3 L 13 0 L 11 0 z M 4.2226562 2.8085938 L 2.8085938 4.2226562 L 4.9296875 6.34375 L 6.34375 4.9296875 L 4.2226562 2.8085938 z M 19.777344 2.8085938 L 17.65625 4.9296875 L 19.070312 6.34375 L 21.191406 4.2226562 L 19.777344 2.8085938 z M 12 5 C 8.1458514 5 5 8.1458514 5 12 C 5 15.854149 8.1458514 19 12 19 C 15.854149 19 19 15.854149 19 12 C 19 8.1458514 15.854149 5 12 5 z M 12 7 C 14.773268 7 17 9.2267316 17 12 C 17 14.773268 14.773268 17 12 17 C 9.2267316 17 7 14.773268 7 12 C 7 9.2267316 9.2267316 7 12 7 z M 0 11 L 0 13 L 3 13 L 3 11 L 0 11 z M 21 11 L 21 13 L 24 13 L 24 11 L 21 11 z M 4.9296875 17.65625 L 2.8085938 19.777344 L 4.2226562 21.191406 L 6.34375 19.070312 L 4.9296875 17.65625 z M 19.070312 17.65625 L 17.65625 19.070312 L 19.777344 21.191406 L 21.191406 19.777344 L 19.070312 17.65625 z M 11 21 L 11 24 L 13 24 L 13 21 L 11 21 z'/></svg>");
			}
		}
	}
	&.light {
		.page__theme {
			margin-top: rem(5px);
			transform: rotate(325deg) scale(1);
			&::before {
				content: url("data:image/svg+xml;charset=UTF-8,<?xml version='1.0' encoding='iso-8859-1'?><svg fill='%23214e41' id='Layer_1' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 395.447 395.447' style='enable-background:new 0 0 395.447 395.447;' xml:space='preserve'><g><path d='M324.539,370.643c-73.953-25.276-123.563-94.639-123.563-172.92c0-10.007,0.814-20.031,2.42-29.792 c0.672-4.087-2.096-7.946-6.183-8.618c-4.086-0.67-7.945,2.096-8.618,6.183c-1.739,10.565-2.62,21.408-2.62,32.228 c0,77.369,44.799,146.692,113.539,178.962c-12.133,2.501-24.535,3.762-37.068,3.762c-100.754,0-182.724-81.97-182.724-182.724 S161.691,15,262.445,15c12.534,0,24.934,1.261,37.068,3.76c-37.679,17.699-68.87,46.868-89.201,83.848 c-1.995,3.63-0.671,8.19,2.959,10.186c3.631,1.995,8.19,0.67,10.186-2.959c22.047-40.1,57.906-70.263,101.047-85.025 c2.621-0.457,4.916-2.296,5.826-4.993c1.324-3.923-0.782-8.177-4.705-9.503l-0.139-0.047c-0.022-0.007-0.045-0.015-0.067-0.022 C305.173,3.447,283.985,0,262.445,0C153.42,0,64.721,88.697,64.721,197.723s88.699,197.724,197.724,197.724 c21.522,0,42.69-3.44,62.921-10.227c0.058-0.018,0.116-0.037,0.174-0.057l0.129-0.044c3.906-1.346,5.987-5.599,4.654-9.51 C329.412,372.934,327.138,371.108,324.539,370.643z'/><path d='M198.804,131.289c-2.62,1.942-3.691,5.475-2.592,8.547c1.054,2.946,3.93,4.977,7.063,4.977 c3.616,0,6.746-2.683,7.383-6.221C211.839,132.04,204.097,127.363,198.804,131.289z'/></g></svg>");
			}
		}
	}
}
.page__action {
	position: relative;
	display: flex;
	flex-direction: column;
}
.page__reset {
	opacity: 0;
	visibility: hidden;
	&._active {
		opacity: 1;
		visibility: visible;
	}
	&::before {
		content: "x";
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		width: 10px;
		height: 10px;
		font-size: 7px;
		border-radius: 50%;
		line-height: 10px;
		color: #ffffff;
		text-align: center;
		background-color: #666;
	}
}
